In [1]:
# 사용방법 - 복사하여 주석만 제거하여 사용
import sys
from pathlib import Path

# 현재 노트북(.ipynb)이 src/ 안에 있으니 상위 폴더(프로젝트 루트)를 추가
BASE_DIR    = Path().resolve().parent.parent    # Notebook이 src/ 안이라면 .parent
config_path = BASE_DIR / 'config' / 'data_paths.yaml'
sys.path.insert(0, str(BASE_DIR))


# 이제 바로 import
from scripts.data_loader import load_data

In [1]:
# --------------------------------------------------------
# analysis/1_analysis.ipynb
# (노트북 최상단 셀에 복붙하세요)
# --------------------------------------------------------

import sys, os
from pathlib import Path

# 현재 Jupyter Notebook이 실행된 디렉터리가 analysis/인 경우,
# Path().resolve()는 analysis/폴더 경로를 가리킵니다.
# 따라서 .parent.parent로 두 단계 올라가면 프로젝트 루트가 됩니다.

BASE_DIR = Path().resolve().parent.parent

# 혹은, 명시적으로 CWD(현재 작업 디렉터리)를 얻고 싶으면:
# BASE_DIR = Path(os.getcwd()).parent.parent

# 프로젝트 루트를 PYTHONPATH에 삽입
if str(BASE_DIR) not in sys.path:
    sys.path.insert(0, str(BASE_DIR))

# 이제 아래 임포트가 정상 동작합니다
from scripts.data_loader import load_data

# 테스트: pm10 데이터 불러오기
df_pm10 = load_data("pm10")
df_pm10.head()

,구분,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,수원,...,함양,남해,산청,의령,창녕,합천,도평균.7,제주,서귀포,도평균.8
0,2006.01 월,65,52,60,73,72,56,37,NaN,74,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44,49,NaN
1,2006.02 월,67,55,61,72,65,55,44,NaN,76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48,45,NaN
2,2006.03 월,81,82,82,83,83,69,81,NaN,95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66,56,NaN
3,2006.04 월,107,93,87,111,82,82,91,NaN,129,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75,64,NaN
4,2006.05 월,63,61,52,69,64,51,55,NaN,71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49,50,NaN